.rules-button {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
    padding: 10px 20px;
    background-color: #8CC461;
    cursor: pointer;
    color: white; 
  }
  
  .rules-button:hover{
    cursor: pointer;
    border: 3px solid #FFFFFF;
    transition: 0.1s ease;
  }

  .rules-content{
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    position: absolute;
    bottom: 70px;
    right: 40px;
    padding: 20px 10px;
    background-color: #004429;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16vw;
    gap: 10px;
    height: 225px;
  }

  .rules-content h2{
    padding-bottom: 8px;
  }

  .cross-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 320px;
    right: 20px;
    background-color: #FF0000;
    position: absolute;
    border: 4px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1s ease;
  }

  .cross-button:after{
    display: inline-block;
    content: "\00d7"; 
    color: #FFFFFF;
    font-size: 40px;
  }

  .cross-button:hover{
    background-color: #000000;
    border: 4px solid #FF0000;

  }

  @media (max-width : 700px) {
    .rules-content{
      width: 50vw;
    }
  }

  @media (min-width : 700px) {
    .rules-content{
      width: 30vw;
    }
  }

  @media (min-width : 1000px) {
    .rules-content{
      width: 16vw;
    }
  }